2ANO/APS/APS - WSDL/public/webservice/calculadorasoap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CalculadoraSoap" 
             targetNamespace="http://localhost:8070/webservice/calculadorasoap.wsdl"
             xmlns:tns="http://localhost:8070/webservice/calculadorasoap.wsdl"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"            
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
			 
    <message name="somarRequest">
        <part name="n1" type="xsd:int" />
        <part name="n2" type="xsd:int" />
    </message>
    <message name="somarResponse">
        <part name="return" type="xsd:int" />
    </message>
	
    <portType name="somarPortType">
        <operation name="somar">
            <input message="tns:somarRequest" />
            <output message="tns:somarResponse" />
        </operation>
    </portType>
	
    <binding name="somarBinding" type="tns:somarPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
        <operation name="somar">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
	
    <service name="somarService">
        <documentation>Arquivo WSDL da calculadora</documentation>
        <port name="calculadoraPort" binding="tns:somarBinding">
            <soap:address location="http://localhost:8070/webservice/servidorsoapwsdl.php" />
        </port>
    </service>
    <!-- -->
    <message name="subtrairRequest">
        <part name="n1" type="xsd:int" />
        <part name="n2" type="xsd:int" />
    </message>
    <message name="subtrairResponse">
        <part name="return" type="xsd:int" />
    </message>
	
    <portType name="subtrairPortType">
        <operation name="subtrair">
            <input message="tns:subtrairRequest" />
            <output message="tns:subtrairResponse" />
        </operation>
    </portType>
	
    <binding name="subtrairBinding" type="tns:subtrairPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
        <operation name="subtrair">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
	
    <service name="subtrairService">
        <documentation>Arquivo WSDL da calculadora</documentation>
        <port name="calculadoraPort" binding="tns:subtrairBinding">
            <soap:address location="http://localhost:8070/webservice/servidorsoapwsdl.php" />
        </port>
    </service>
    <!-- -->
    <message name="dividirRequest">
        <part name="n1" type="xsd:int" />
        <part name="n2" type="xsd:int" />
    </message>
    <message name="dividirResponse">
        <part name="return" type="xsd:int" />
    </message>
	
    <portType name="dividirPortType">
        <operation name="dividir">
            <input message="tns:dividirRequest" />
            <output message="tns:dividirResponse" />
        </operation>
    </portType>
	
    <binding name="dividirBinding" type="tns:dividirPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
        <operation name="dividir">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
	
    <service name="dividirService">
        <documentation>Arquivo WSDL da calculadora</documentation>
        <port name="calculadoraPort" binding="tns:dividirBinding">
            <soap:address location="http://localhost:8070/webservice/servidorsoapwsdl.php" />
        </port>
    </service>
    <!-- -->
    <message name="multiplicarRequest">
        <part name="n1" type="xsd:int" />
        <part name="n2" type="xsd:int" />
    </message>
    <message name="multiplicarResponse">
        <part name="return" type="xsd:int" />
    </message>
	
    <portType name="multiplicarPortType">
        <operation name="multiplicar">
            <input message="tns:multiplicarRequest" />
            <output message="tns:multiplicarResponse" />
        </operation>
    </portType>
	
    <binding name="multiplicarBinding" type="tns:multiplicarPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
        <operation name="multiplicar">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
	
    <service name="multiplicarService">
        <documentation>Arquivo WSDL da calculadora</documentation>
        <port name="calculadoraPort" binding="tns:multiplicarBinding">
            <soap:address location="http://localhost:8070/webservice/servidorsoapwsdl.php" />
        </port>
    </service>
</definitions>